/* RESET */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-family: sans-serif;
}
#app {
  margin: 1% 25%;
  border: 1px solid #e2e2e2;
  padding: 30px;
  box-shadow: 0 1px 5px;
}
.btn-primary {
  background-color: #bb2649;
  color: #fff;
  border: none;
  padding: 20px 0px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: #74061f;
}

/* POSTING PAGE */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
}

.form-input {
  padding: 15px;
  outline: none;
  border-width: 0 0 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-input_image {
  object-fit: cover;
  margin-bottom: 20px;
  max-height: 200px;
  border-radius: 12px;
}

.form-input_title {
  padding: 20px 40px 20px 0px;
  font-size: 20px;
  margin-bottom: 20px;
  border-width: 0 0 2px;
  border-color: #e8e8e8;
}

.form-input_content {
  padding: 20px 0;
  font-size: 20px;
  margin-bottom: 20px;
  border-width: 0;
  min-height: 300px;
}

/* HOME PAGE*/

.header-container_home {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 40px 0;
}

.link-container {
  padding: 20px 0px;
  display: flex;
  align-items: stretch;
}

.link-container a {
  /* padding: 20px 30%; */
  text-align: center;
  min-width: 100%;
}

.lists-inner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.link-card_container {
  min-width: 100%;
  transition: 0.5s;
}

.link-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  min-width: 100%;
  border: 1.5px solid #e2e2e2;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.link-card:hover {
  background-color: #e2e2e2;
}

.link-card .post-image {
  height: 100px;
  width: 100px;
}

.link-card .post-text {
  padding: 0 16px;
  line-height: 23px;
}

.link-card .post-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.link-card .post-text p {
  font-size: 16px;
  font-weight: 500;
}

/* Post page */

.post-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  list-style-type: none;
}

.post-container .post-image {
  object-fit: cover;
  margin-bottom: 20px;
  max-height: 350px;
  border-radius: 12px;
}

.post-container .post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.post-container .post-time {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}

.post-container .post-content {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.post-container .post-icons {
  display: flex;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
}

.post-container .post-icon_modify-image {
  position: absolute;
  right: 60px;
  bottom: 40px;
}

.post-container .post-icon_delete-image {
  position: absolute;
  right: 0;
  bottom: 40px;
}

/* Comment */

.comment-outer_container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.comment-input_container {
  display: flex;
  flex-direction: column;
}

.comment-input_container .comment-input {
  padding: 20px 40px 40px 0px;
  font-size: 20px;
  margin: 20px 0;
  border-width: 0;
  text-align: left;
}

.comment-outer_container .comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 5px;
  min-width: 100%;
  border: 1.5px solid #e2e2e2;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #app {
    margin: 0;
  }
}
